/* I need to organize this file better */

#continue-btn-container {
  /* position: absolute; */ /* Removed so it defaults underneath the keyboard */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin-top: 20px; /* Space between keyboard and button */
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.18s ease-out, left 0.18s ease-out;
}

.key {
  font-size: 6px;
    /*min-width: 50px;         Standard width for single-letter keys */
    /*height: 52px;            Standard height for all keys */
    box-sizing: border-box; /* Ensures borders don't accidentally push keys out of alignment */
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.top-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#continue-btn {
  /* border-width: 0; */
  /* border-radius: 10px; */
  /* padding: 5px 10px 5px 10px; */
  /* background-color: #282c33; */
  /* color: #dce0e4; */
  cursor: pointer;
}

#verification, #email {
  font-size: 6px;
}
